/*---------------Couleur de fonds---------------------*/
$bg-primary : #F3E9F1;
$bg-light : #FFFFFF;
$bg-dark : #14EF36;


/*--------------Couleur du theme---------------------*/

$color-primary : #8F5BFE;
$color-secondary : #E38910;
$color-tertiary: cyan;


